.App{
  position: relative;
}
.whole-container{
  display: flex;
}
.container1{
  margin-right: 20px;
}
.video{
  color: white;
  background-color: rgb(15, 15, 15);
  width: 230px;
  /* height: 360px; */
  border-radius: 25px;
  padding: 15px;
}
.video img{
  height:230px ;
  width:230px;
  border-radius: 15px;
}
.video h3{
  margin: 10px;
  text-align: center;
}
.video p{
  margin: 0;
  font-size: 10px;
  color: rgb(160, 159, 159);
  text-align: center;
}
.video input{
  margin: 0;
  height: 2px;
  width: 230px;
  accent-color: rgb(107, 14, 228);
  text-align: center;
}
.video .time{
  display: flex;
  justify-content: space-between;
}
.icons{
  display: flex ;
  justify-content: space-between;
  padding: 10px;
  margin-top: 5px;
  /* position: relative; */
}
.icon{
  color:rgb(107, 14, 228) ;
  /* margin: 5px; */
  font-size: 12px;
}
.icons .play{
  background-color: rgb(107, 14, 228);
  height: 40px;
  width: 40px;
  border-radius: 30px;
  padding: 7px 3px 0px 3px ;
  text-align: center;
  align-items: center;
  margin: -10px; 
}
.play span{
  margin: 0 0 0 3px; 
}

/* Files-component */

.files-payment{
  margin-top: 30px;
  color: white;
  background-color: rgb(15, 15, 15);
  border-radius: 30px;
  padding: 30px 10px 10px 10px;
}
.files-payment p{
  margin: 0;
  font-size: 12px;
}
.file-component{
  margin: 20px 0 0 10px;
  padding: 10px;
}
.files-payment .folder-icon{
  text-align: center;
  color:rgb(107, 14, 228) ;
}
.file{
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.file-storage{
  display: flex;
}
.file-storage input{
  margin: 0;
  margin-top: 5px;
  height: 2px;
  accent-color: rgb(107, 14, 228);
  text-align: center;
 
}
.file-storage input::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  border: none;

}
.file-storage p{
  margin-top: -5px;
  margin-left: 10px;
}
.file-img{
  border: solid 0.5px rgb(67, 66, 66);
  border-radius:15px;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 10px;
}
.file-name{
  margin-left: 10px;
}

/* payment */
.payment-component{
  display: flex;
  margin-top: 10px;
}
.payment-component span{
  padding-bottom: 20px;
}
.payment-component .icons{
  display: flex;
  flex-direction: column;
}
.payment-component .images{
  display: flex;
  flex-direction: column;
}
.img{
  margin-top: 20px;
  background-color: rgb(15, 15, 15);
}


/* notification */
.notification-component{
  margin-top: 20px;
  padding: 10px;
}
.notification-component h6,p{
  margin: 0;
}
.notify-div{
  display: flex;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(22, 22, 22);
  padding: 10px;
}
.comments{
  display: flex;
  margin-top: 5px;
}

/* container3 */

/* mark */

.mark-container{
  background-color: rgb(15, 15, 15);
  border-radius: 20px;
  color: white;
  padding: 10px;
  text-align: center;
  margin: 40px 0px;
  position: relative;
}
.mark-container h6,h5,p{
  margin: 0;
}
.mark-container h6{
  margin-right: 40px;
}
.mark-container p{
  font-size: 10px;
  color: rgb(160, 159, 159);
}
.withFollows{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.floater{
  position: absolute;
  top: -10px;
  right: -7%;
  
}
.floater span{
  height: 10px;
  width: 150px;
  background-color: rgb(15, 15, 15);
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}
.mark2{
  /* position: absolute; */
  margin-left: -70px;
}

/* fourcomponents */

.maincls{
  height: 70px;
  width: 290px;
  background-color: rgb(15, 15, 15);
  border-radius: 15px;
  padding: 7px;
  margin: 0 20px 20px 0;
  display: flex;
}
.maincls img{
  height: 70px;
  width: 70px;
  border-radius: 10px;
}
.about{
  margin: 20px 0 0 10px;
}
.about h4{
  margin: 0;
  color: white;
  font-size: 10px;
}
.about p{ 
  font-size: 12px;
  color: rgb(160, 159, 159);
  padding-top: 2px;
}


/* container4 */
.container4{
  width: 400px;
}
.weather{
  height: 150px;
  width: 100px;
  background-color: rgb(15, 15, 15);
  border-radius: 20px;
  padding: 5px;
  color: white;
  padding-left: 30px;
}
.weather h1,p{
  margin: 0;
}
.weather p{
  font-size: 10px;
}
.weather span{
  padding-left: 10px;
}


/* Home */

.home{
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 200px;
  background-color: rgb(15, 15, 15);
  border-radius: 15px;
  padding: 20px 25px 10px 25px;
  margin-top: 0px;
  margin-left: -90px;
}
.toggle{
  margin-top: 20px;
  margin-left: -100px;
}

/* book */

.book{
  background-color: rgb(15, 15, 15);
  border-radius: 30px;
  display: flex;
  height: 140px;
  width: 260px;
  padding: 20px;
  margin-top: 80px;
  color: white;
}
.book img{
  height: 140px;
  width: 160px;
  margin-right: 10px;
  border-radius: 5px;
}
.book p{
  font-size: 12px;
  color: rgb(141, 139, 139);
}

/* dress-mug */

.dress-mug{
  background-color: rgb(15, 15, 15);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}
.dress-mug img{
  border-radius: 10px;
}
.dress-mug .content{
  margin-top: 10px;
}
.arrow{
  height: 30px;
  width: 30px;
  text-align: center;
  background: rgb(56,41,204);
  background: linear-gradient(90deg, rgba(56,41,204,1) 0%, rgba(128,84,238,1) 71%, rgba(172,82,255,1) 100%);
}
.mug{
  display: flex;
  justify-content: space-between;
}


/* toggle */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: rgb(107, 14, 228);
}
/* input:focus + .slider {
  box-shadow: 0 0 1px rgb(107, 14, 228);
} */
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
input:checked + .round:before {
  background-color: white;
}